<div class="col-lg-4">
    <div class="top-streamers">
        <div class="heading-section">
            <h4><em>Top</em> Streamers</h4>
        </div>
        <ul>
            <li>
                <span>01</span>
                <img src="/GameStream/assets/images/avatar-01.jpg" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                <h6><i class="fa fa-check"></i> LahutaM</h6>
                <div class="main-button">
                    <a href="#">Follow</a>
                </div>
            </li>
            <li>
                <span>02</span>
                <img src="/GameStream/assets/images/avatar-02.jpg" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                <h6><i class="fa fa-check"></i> Kengan</h6>
                <div class="main-button">
                    <a href="#">Follow</a>
                </div>
            </li>
            <li>
                <span>03</span>
                <img src="/GameStream/assets/images/avatar-03.jpg" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                <h6><i class="fa fa-check"></i> Areluwa</h6>
                <div class="main-button">
                    <a href="#">Follow</a>
                </div>
            </li>
            <li>
                <span>04</span>
                <img src="/GameStream/assets/images/avatar-04.jpg" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                <h6><i class="fa fa-check"></i> Omeg</h6>
                <div class="main-button">
                    <a href="#">Follow</a>
                </div>
            </li>
            <li>
                <span>05</span>
                <img src="/GameStream/assets/images/avatar-01.jpg" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                <h6><i class="fa fa-check"></i> GangTeam</h6>
                <div class="main-button">
                    <a href="#">Follow</a>
                </div>
            </li>
        </ul>
    </div>
</div>