                <!-- ***** Live Stream Start ***** -->
<div class="live-stream">
    <div class="col-lg-12">
        <div class="heading-section">
            <h4><em>Most Popular</em> Live Stream</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="item">
                <div class="thumb">
                    <img src="/GameStream/assets/images/stream-05.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <div class="live">
                                <a href="#">Live</a>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                                <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down-content">
                    <div class="avatar">
                        <img src="/GameStream/assets/images/avatar-01.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                    <span><i class="fa fa-check"></i> Kengan Omeg</span>
                    <h4>Just Talking With Fans</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="item">
                <div class="thumb">
                    <img src="/GameStream/assets/images/stream-06.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <div class="live">
                                <a href="#">Live</a>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                                <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down-content">
                    <div class="avatar">
                        <img src="/GameStream/assets/images/avatar-02.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                    <span><i class="fa fa-check"></i> LahutaMalc</span>
                    <h4>CS-GO 36 Hours Live Stream</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="item">
                <div class="thumb">
                    <img src="/GameStream/assets/images/stream-07.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <div class="live">
                                <a href="#">Live</a>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                                <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down-content">
                    <div class="avatar">
                        <img src="/GameStream/assets/images/avatar-03.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                    <span><i class="fa fa-check"></i> Areluwa</span>
                    <h4>Maybe Nathej Allnight Chillin'</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="item">
                <div class="thumb">
                    <img src="/GameStream/assets/images/stream-08.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <div class="live">
                                <a href="#">Live</a>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                                <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down-content">
                    <div class="avatar">
                        <img src="/GameStream/assets/images/avatar-04.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                    <span><i class="fa fa-check"></i> NewGangTeam</span>
                    <h4>Live Streaming Till Morning</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="item">
                <div class="thumb">
                    <img src="/GameStream/assets/images/stream-07.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <div class="live">
                                <a href="#">Live</a>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                                <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down-content">
                    <div class="avatar">
                        <img src="/GameStream/assets/images/avatar-01.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                    <span><i class="fa fa-check"></i> Kengan Omeg</span>
                    <h4>Just Talking With Fans</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="item">
                <div class="thumb">
                    <img src="/GameStream/assets/images/stream-08.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <div class="live">
                                <a href="#">Live</a>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                                <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down-content">
                    <div class="avatar">
                        <img src="/GameStream/assets/images/avatar-02.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                    <span><i class="fa fa-check"></i> LahutaMalc</span>
                    <h4>CS-GO 36 Hours Live Stream</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="item">
                <div class="thumb">
                    <img src="/GameStream/assets/images/stream-05.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <div class="live">
                                <a href="#">Live</a>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                                <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down-content">
                    <div class="avatar">
                        <img src="/GameStream/assets/images/avatar-03.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                    <span><i class="fa fa-check"></i> Areluwa</span>
                    <h4>Maybe Nathej Allnight Chillin'</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="item">
                <div class="thumb">
                    <img src="/GameStream/assets/images/stream-06.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <div class="live">
                                <a href="#">Live</a>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                                <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down-content">
                    <div class="avatar">
                        <img src="/GameStream/assets/images/avatar-04.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                    <span><i class="fa fa-check"></i> NewGangTeam</span>
                    <h4>Live Streaming Till Morning</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="main-button">
                <a href="streams.html">Load More Streams</a>
            </div>
        </div>
    </div>
</div>
<!-- ***** Live Stream End ***** -->
