
@{
    ViewData["Title"] = "Streams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
            @await Component.InvokeAsync("FeaturedGames")
            @await Component.InvokeAsync("MostPopularLiveStream")
            </div>
        </div>
    </div>
</div>
