<div class="col-lg-4">
    <div class="item">
        <div class="icon">
            <img src="/GameStream/assets/images/service-01.jpg" alt="" style="max-width: 60px; border-radius: 50%;">
        </div>
        <h4>Go To Your Profile</h4>
        <p>Cyborg Gaming is free HTML CSS website template provided by TemplateMo. This is Bootstrap v5.2.0 layout.</p>
    </div>
</div>